.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  align-items: center;
  padding: 1rem 0;
}

.card:hover {
  cursor: pointer;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card__container {
  width: 6rem;
}

.card__img {
  max-width: 100%;
}

.card__heading {
  font-size: 1.6rem;
  max-width: 16rem;
  overflow: hidden; /* Oculta el desbordamiento */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas y lo mantiene en una sola línea horizontal. */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final */
}

.card__icon {
  width: 2rem;
  height: 2rem;
}

.card__svg {
  max-width: 100%;
}
